.gap-1 {
    gap: 0.5rem;
}

.table-selector-container {
    display: flex;
    /*width: 100%;*/
    margin: 1rem;
    align-items: center;
}

button.custom-toggle {
    background: transparent;
}

.button-container.close {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.button-container.tables {
    margin-left: .5rem;
}

#eav-attr {
    background: var(--side-panels-bg);
    color: #d9d9e3;
}

button.btn-close.custom-btn-close {
    --bs-btn-close-bg: none;
    background: transparent;
}

button.btn-close.custom-btn-close i {
    color: #fff;
}

p.eav-value {
    font-size: 13px;
}