:root {
    --main-bg: #343541; 
    --side-panels-bg: #030303;
    --default-font-size: 16px;
    --small-font-size: 14px;
    --logo-font-size: 20px;
    --default-font-color: #ececf1;
}

/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: transparent #202225e6;
  scrollbar-width: thin;
}

/* For Chrome and other browsers except Firefox */
::-webkit-scrollbar {
    width: 5px; 
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #202225e6; 
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  overscroll-behavior-y: none;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-header::after {
  width: 28px;
  content: "";
  height: 1px;
  background-color: #343541;
  margin-left: 1rem;
  margin-top: .3rem;
  margin-bottom: .5rem;
}

.custon-btn-container {
  /*background-color: var(--main-bg);*/
  /* font-size: var(--default-font-size); */
  color: var(--default-font-color);
  padding: 1rem .5rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.custon-btn-container h1, .custon-btn-container span {
  font-size: var(--small-font-size);
  margin-bottom: 0;
}

button.custom-btn-primary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0;
}

.custom-btn-primary .logo {
  font-size: var(--logo-font-size);
  color: #000;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.logo-container {
  display: inline-flex;
  background: white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 28px;
  height: 28px;
}

.custom-btn-primary i {
  font-size: var(--small-font-size);
}

.main-content {
    display: flex;
    flex-grow: 1;
    background-color: var(--main-bg);
}

.menu-content {
    flex: 1;
    position: fixed;
    width: 300px;
    height: 100vh;
    background: var(--side-panels-bg);
    padding: .75rem;
    transition: 0.2s transform ease-in-out;
}

.menu-content.hide-menu {
  transform: translateX(-100%);
}

.menu-content.hide-menu + .chatbot-container {
  margin-left: 0px;
}

.chatbot-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

button.btn {
  transition: 0.2s all ease-in-out;
}

.btn.custom-btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #1e1e1e;
  /* --bs-btn-hover-border-color: var(());
  --bs-btn-focus-shadow-rgb: var(());
  --bs-btn-active-color: var(());
  --bs-btn-active-bg: var(());
  --bs-btn-active-border-color: var(()); */
}

/* Modal CSS */
.modal-content {
  background: #202123;
  color: #d9d9e3;
}

.modal-header, .modal-footer {
  border-color: hsla(0,0%,100%,.1);
}

.custom-input {
  color: #a3a3a3;
  background: #292a2d;
  border: 1px solid #5e5e5e;
}

.form-control.custom-input:focus {
    color: #d9d9e3;
    background-color: #292a2d;
    border: 1px solid #5e5e5e;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(143, 143, 143, 0.25);
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
  background-color: #292a2d;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  color: #a3a3a3;
}

.form-floating>label {
  color: #a3a3a3;
}

.offcanvas {
  transition: 0.25s all ease-in-out !important;
  opacity: 0;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
  opacity: 1;
}

button.btn.custom-btn-primary.default {
  width: auto;
  background: transparent;
}

.modal-backdrop {
  --bs-backdrop-bg: rgb(0 0 0 / 23%) !important;
  background-color: var(--bs-backdrop-bg);
  backdrop-filter: blur(10px);
  opacity: unset !important;
}

button.custom-dropdown {
  border: none;
  background: transparent;
}

button.custom-dropdown:active, button.custom-dropdown:focus, button.custom-dropdown:hover {
  background: #464858 !important;
}

.dropdown-toggle.custom-dropdown::after {
  content: unset;
}

.dropdown-toggle.custom-dropdown i {
  font-size: 11px;
  margin-left: .5rem;
  color: #98a3b8;
}